.item
{
    background: red;
    height: 400px;
    width: 400px;
}
.class1
{
    background: #1BDA31;
    height: 200px;
    width: 200px
}
.class2
{
    background: #1E1DD3;
height: 200px;
    width: 200px
}
.box
{
    display: flex;
    flex-direction: column;

}
.container
{
    display: flex;
    border: 1px solid #EFEAEA;
}
.box2
{
    display: flex;
    flex-direction: column;
    margin-left: 15px;

}
.container2
{
    display: flex;
    border: 1px solid #EFEAEA;
}

.item1{
    background-color: red;
    width: 400px;
    height: 400px;
}
.item2
{
    background: #1BDA31;
    width: 400px;
    height: 400px;
}
.item3
{
    background: #1E1DD3;
    width: 400px;
    height: 400px;

    }

.container3
{
    display: flex;
    border: 1px solid #EFEAEA;
    flex-direction: row;
}

.container4
{
    display: flex; 
    flex-direction: row;
}
.box-margin
{
   margin-right: 15px;
}
  