*
{
    margin: 0;
    padding: 0;
}
.clearfix:after {
    display:block;
    clear:both;          
}
.menu ul
{
    background-color: cyan;
    width: 250px;
    list-style-type: none;

}
.menu ul li{
    width: auto;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 1em;
    position: relative;
   
}
.menu ul li a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    display: block;
}
.menu ul li:hover
{
background-color: darkblue;
}
.sub-menu
{
    position: absolute;
    left: 250px;
    top: 0;
    display: none;
}
.menu ul li:hover .sub-menu{
    display: block;


}
.sub-menu-list
{
    position: absolute;
    left: 250px;
    top: 0;
    display: none;
}
.menu ul ul li:hover .sub-menu-list
{
    display: block;
}