.heart div {
	background: red;
	width: 90px;
	height: 130px;
	top: 40px;
	display: block;
	position: absolute;
	border-radius: 50%;
}

.left {
	left: 45px;
}

.right{
	right: 45px;
}
.heart {
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	z-index: 1;
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
	animation: heart 1s ease infinite
}

@keyframes heart {
	96% {
		transform: translate(-50%,-50%) scale(.8,.8)
	}
	100% {
		transform: translate(-50%,-50%) scale(1,1)
	}
}

.heart div {
	background: #ff0000;
	width: 71px;
	height: 126px;
	top: 40px;
	display: block;
	position: absolute;
	border-radius: 50%
	}

.left {
	left: 45px;
	transform: rotate(330deg);
}

.right {
	right: 45px;
	transform: rotate(30deg);
}
.run
{
	width: 120px;
	margin: auto;
}
.cod
{

	position: relative;
	background-color: brown;
	width: 120px;
	margin: auto;
	color: white;
	z-index: 0;
	
	
}
.teach
{
	position: absolute;
	background-color: coral;
	color: white;
	width: 120px;
	margin: auto;
	visibility: hidden;
	animation-name: coding ;
	animation-duration: 4s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	z-index: 1;
	left: 0;
	top: 0;
}
.learn
{
position: absolute;
background-color: purple;
color: white;
margin: auto;
visibility: hidden;
animation-name: coding ;
animation-duration: 4s;
animation-delay: 2s;
animation-iteration-count: infinite;
z-index: 2;
width: 120px;
left: 0;
top: 0;

}

@keyframes coding
{
25%
{
	visibility: visible;
	opacity: 1;
}
50%{
	visibility: hidden;
	opacity: 0;
}
75%
{
	visibility: hidden;
	opacity: 0;
}
100%
{
	visibility: hidden;
	opacity: 0;
}
}
