/* chú thích css */
.main-post {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;
}
body {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    color: #464646;
    overflow-y: scroll;
    background-color: #f4f7fa;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.category {
    background-color: #e5e5e5;
    color: grey;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    margin-right: 0.4rem;
    cursor: pointer;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.post-content {
    padding-bottom: 1.5rem;
}
.post-content {
    overflow-x: auto;
    padding: 1.5rem 0 1rem 0;
    border-top: 0.5px solid #00000020;
    line-height: 1.75rem;
    letter-spacing: -0.003em;
    word-wrap: break-word;
}
b, strong {
    font-weight: bolder;
}
p {
    margin-bottom: .5rem;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.post-content {
    overflow-x: auto;
    padding: 1.5rem 0 1rem 0;
    border-top: 0.5px solid #00000020;
    line-height: 1.75rem;
    letter-spacing: -0.003em;
    word-wrap: break-word;
}