<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <ul class="collection-car">
            <li th:each="car: ${cars}" class="list-item">
                <img th:attr="src=${car.photo}, alt=${car.name}"/>
                <div class="info">
                    <h4 th:text="${car.name}"></h4>
                    <h4 th:text="${car.manufacturre}"></h4>
                    <h4 th:text="${car.price}"></h4>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>