*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 46px;
    background-color: chartreuse;
}
.menu{
   
}
.menu li a{
    list-style-type: none;
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    display: block;
    

}
.menu li{
    position: relative;
}
.menu>li{
    display: inline-block;

}
.menu>li:hover>a, .submenu li:hover a{
    color: blueviolet;
    background-color: #ccc;
    
}
.submenu{
    display: none;
    position: absolute;

}
.submenu li{
    list-style-type: none;
     
}
.submenu li a{
    line-height: 38px;
    padding: 0 12px;
}
.menu li:hover .submenu{
    display: block;
}
